.wrapper {
    background-color: #457b9d;
    // color: #e63946;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;

    .MyHeader {
        width: 100%;
        max-width: 1600px;
        padding: 30px 10px;
    }
}

